{% extends "layout.html.twig" %}

{% block title %}
LoL Commits Server - by Clops
{% endblock %}

{% block content %}
<ul id="lols">
    {% for commit in commits %}
    <li><img src="commits/{{ commit.image }}" title="{{ commit.sha }} {{ commit.message }} {{ commit.created }}" /></li>
    {% endfor %}
</ul>
{% endblock %}
