{% extends "layout.html.twig" %}

{% block title %}
LoL Commits Server - by Clops
{% endblock %}

{% block content %}
<h1>LOL-Commits Server</h1>
<p>
    We are the latest LoLs...
</p>
{% endblock %}
