{% extends "layout.html.twig" %}

{% block title %}
LoL Commits Server - by Clops
{% endblock %}

{% block content %}
<ul id="lols">
    {% for image in images %}
    <li><img src="{{ image }}" /></li>
    {% endfor %}
</ul>
{% endblock %}
